/* Custom code snippet styles for ABISSMAL */
pre.dark {
    background-color: #333 !important;
    color: white !important;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
}

/* Ensure images scale with their containers */
img {
    max-width: 100%;
    height: auto;
}

body {
    max-width: 100% !important;
    box-sizing: border-box;
}

a.icon:visited, article h3 a:visited {
    color: #2e6da4;
}

.wy-nav-top {
    background: black;
}

.wy-side-nav-search a:visited{
    color: white;
}

/* Adjust the sidebar for smaller screens */
@media (max-width: 768px) {

    body {
        padding-top: 56px !important;
    }

    .wy-nav-top {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .wy-side-nav {
        width: 100%;
        position: relative;
    }

    .wy-nav-content {
        position: relative;
        max-width: 100% !important;
    }

    .wy-grid-for-nav {
        position: relative;
    }

    h1, h2, h3, h4, h5, h6 {
        scroll-margin-top: 86px; /* Match this with the body padding */
    }
}

